a {
    text-decoration: none;
}

html, body {
    min-height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;

    background: url("../../images/fond2.jpg") no-repeat center fixed;
    background-size: cover;

    font-family: 'Asap', sans-serif;;
}

#top {
    position: relative;

    margin: 10px 0 0;
    padding: 0;

    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

#top a {
    display: block;
    color: #FFCE79;
}
#top a:hover {
    color: #FFCE79;
}

#top #bloc {
    display: block;
    width: 700px;

    margin: 0 auto;
    padding: 0 20px;

    text-shadow: -1px 0 #7F673C, 0 1px #7F673C, 1px 0 #7F673C, 0 -1px #7F673C;
}

#top #bloc img {
    position: relative;

    margin: 0 20%;

    width: 60%;
    height: auto;
}

nav.navbar {
    position: relative;
    z-index: 2;

    margin: 10px 0;
    padding: 0;

    font-weight: bold;
    background-color: rgba(255, 206, 121, 0.8);
    border-bottom: 1px solid #CCA561;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
         -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

nav hr {
    clear: both;

    height: 0;
    margin: 0;

    background: transparent;
    border: none;
}

nav ul {
    position: relative;
    display: block;
    padding: 0;

    margin: 0;
}

nav li {
    display: inline-block;
    float: left;

    width: 20%;

    color: #FFF;
    font-size: 18px;

    text-align: center;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
nav li.multi-nav {
    padding: 0 15px;
}
nav li a, nav li.has-submenu {
    display: inline-block;
    color: #FFF;
    padding: 20px 10px;
}
nav li a.multi-nav {
    padding: 30px 0;
}
nav li:hover {
    cursor: pointer;
}
nav li.multi-nav:hover {
    cursor: auto;
}
nav > ul > li:hover {
    background-color: #CCA561;
}
nav li:hover a {
    color: #FFF;
    text-decoration: none;
}
nav li:hover > div {
    padding-top: 12px;
}
nav li:hover > div ul {
    display: block;
}

nav li > div {
    position: absolute;
    top: 65px;
    margin-left: -10px;

    width: 20%;
}

nav li ul {
    margin-top: 1px;

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    display: none;
    z-index: 0;

    background-color: #CCA561;
    border-radius: 8px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}

nav li li {
    display: block;
    float: none;
    padding: 0;
    width: auto;
    font-size: 0.8em;
}
nav li li a {
    display: block;
    padding: 0 10px 20px 10px;

    color: #fff;
    text-decoration: none;
    text-align: left;
}
nav li li:nth-child(1) a {
    padding: 20px 10px;
}
nav li li a:hover {
    text-decoration: underline;
}

.int {
    padding: 20px 30px;
}

#body {
    position: relative;
    min-height: calc(100% - 235px);

    margin: 0;
    padding: 20px 30px;

    color: #444;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;

    font-size: 1.2em;

    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
         -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#body h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #316FB2;
}

#body h2 a {
    color: #2DA1C9;
}

#body h3:not(.panel-title) {
    color: #79B9FF;
    margin-bottom: 20px;
}

#body hr.clear {
    opacity: 0;
    margin: 0;

    clear: both;
}

#body a {
    color: #C98802;
    text-decoration: none;
}
#body a:hover {
    text-decoration: underline;
}

#body ol {
    margin-left: 20px;
}

#body ul:not(.with-type) li {
    list-style-type: none;
}
#body #news ul li {
    list-style-type: circle;
}

footer {
    position: relative;
    z-index: 2;

    padding: 0 20px;
    margin: 10px 0 10px 0;

    color: #FAFAFA;
    background-color: rgba(127, 117, 99, 0.8);
    border-radius: 8px;

    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
         -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

footer h4 {
    margin: 0;
}

footer img {
    margin-top: 10px;

    height: 70px;
    width: auto;
}

footer .col-md-6:nth-of-type(1) {
    padding-left: 0;
}
footer .col-md-6:nth-of-type(2) {
    padding-right: 0;
}

footer ul {
    padding-left: 0;
    margin-top: 10px;

    list-style-type: none;
}

footer a {
    color: #FAFAFA;
    text-decoration: none;

    font-weight: 700;
}
footer a:hover {
    color: #FFF;
}

#back {
    display: block;
    float: right;

    position: relative;
    right: -30px;

    margin-bottom: 20px;
}

#back a {
    display: inline-block;
    padding: 10px 15px;

    font-weight: bold;
    color: #FFF;
    background-color: rgba(250, 202, 74, 0.85);
}
#back a:hover {
    text-decoration: none;
    background-color: rgba(240, 192, 64, 0.85);
}

#author {
    margin-bottom: 20px;
    text-align: right;
}

#author p {
    margin: 0;
}

#content {
    margin-left: 0px;
}

#content table td {
    padding: 10px 15px;
}

#content p, .content p {
    margin: 5px;
}

.glyphicon {
    margin-right: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 20px 20px;
}

div > input[type="radio"]:not(:first-of-type) {
    margin-left: 20px;
}
label.check-label {
    font-weight: normal;
}

form .btn:not(.btn.btn-normal) {
    font-size: 1.3em;
}

.nothing {
    margin-top: 30px;
}

.select2 .select2-choice {
    width: 100%;
}

#body a.author {
    float: none;
    font-weight: bold;
    color: #FFCE79;
}
#body a.author:hover {
    cursor: pointer;
}

blockquote {
    margin: 10px 0 0 50px;
    font-style: italic;
}

.table tr th {
    color: #79B9FF;
}

.table-hover tr:hover td {
    background-color: #79B9FF;
    color: #FFF;
}

#body .table tr td {
    vertical-align: middle;
}

#body .table-hover tr td a {
    color: #FFF;
}
#body .table-hover tr td a:hover {
    color: #FFF;
    text-decoration: none;
}

.btn-default {
    color: #FFF;
    background-color: #444;
    border-color: #111;
}
.btn-default:hover {
    background-color: #555;
    border-color: #000;
}
#body  a.btn-info {
    color: #FFF;
}

.alert:first-of-type {
    margin-top: 20px;
}

#body .alert-info a {
    font-weight: bold;
    color: #31708f;
}

.img-bloc img {
    width: 100%;
}

.row.spaced {
    margin-top: 20px;
}

.row.tool {
    margin-left: 20px;
}

.popover {
    color: #333;
}

.ui-dialog .ui-dialog-title {
    color: #316FB2;
}

.ui-dialog button.confirm {
    background-color: #316FB2;

    color: #FFF;
    font-weight: bold;
}

.bg-danger, .bg-warning {
    margin-bottom: 10px;
    padding: 10px;

    color: #666;
}

.button-related {
    display: none;
}

.radio {
    display: inline-block;
}

.modal-footer button.btn, #consent a.btn {
    color : #FFF;
    font-size: 1.3em;
}