@media screen and (max-width: 1024px) {
    body {
        font-size: 1.6em;
    }
    header {
        height: 200px;
    }
    header #bloc {
        width: 90%;
    }
    header h1 {
        font-size: 75px;
        line-height: 75px;
    }
    header .small {
        font-size: 55px;
    }
    nav ul {
        margin: 0;
    }
    nav li {
        width: 100%;

        font-size: 1.4em;
        text-align: center;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    nav li ul {
        position: relative;
        top: 0;
        left: 0;

        margin-top: 5px;
        padding: 0;
    }
    nav li li{
        float: none;
    }
    .int {
        padding: 40px 60px;
    }
    #body {
        width: 100%;
    }
    #body h2 {
        left: -60px;
        width: 100%;

        font-size: 1.8em;
    }
    #body img:not(#logo) {
        top: 0;
    }
    #news, .new, #newsletter {
        width: 100%;
    }
    body #body #newsletter input {
        font-size: 1em;
        height: 40px;
    }
    .triangle {
        display: none;
    }
    footer {
        width: 100%;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}