{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Nous contacter - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Téléphone</h2>
    <h2 class="main">Nous envoyer un mail</h2>
{% endblock %}