<footer>
    <div class="int">
        <div class="triangle gauche"></div>
        <div class="triangle droit"></div>
        Réalisation : <a href='http://damien-deconinck.fr'>Damien Deconinck</a> - 2014 - 2015
    </div>
</footer>