<a href='{{ path('aamv_site_homepage') }}'>
	<header id="top">
	    <img src="{{ asset('bundles/aamvdefault/images/logo_enfant.png') }}" alt="petit gif d'enfant">
	    <span id="bloc">
	        <h1>Association des Assistantes Maternelles Villeneuvoises</h1>
	        <hr>
	        <span class="small">et des Parents et ses Environs</span>
	    </span>
	    <img src="{{ asset('bundles/aamvdefault/images/logo_enfant1.png') }}" alt="petit gif d'enfant">
	</header>
</a>