{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Fichiers - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / Conditions d'utilisation</h2>

    {{ form(form) }}
{% endblock %}
