article {
    width: 90%;
    margin-top: 15px;
    background: #BBB;
}
article:nth-child(even) {
    margin-left: 10%;
}

article * {
    padding: 10px 20px;
}

article aside {
    padding: 10px;
    float: left;
}

article header {
    background: #999;
}

article footer {
    padding: 10px 20px 5px;
    text-align: right;
}

.fa-edit {
    padding: 0;
    font-size: 1.6em;
}
.fa-edit:hover {
    color: #222;
    cursor: pointer;
}
.fa-edit:active {
    color: #000;
}

span.edit {
    display: inline-block;
    padding: 0;
    width: 90%;
}

.table.table-hover th {
    border-color: #999;
    border-width: 2px;
}
.table.table-hover td {
    border-color: #AAA;
}

label {
    margin-top: 10px;
    padding: 5px;
}

input {
    width: 100%;
    padding: 10px 15px;

    background: #EEE;
    border: 1px solid #CCC;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px 15px;

    background: #EEE;
    border: 1px solid #CCC;
}

.btn.btn-success {
    margin-top: 10px;
    padding: 10px 20px;
}