{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Modifier mon compte - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/login.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
{% endblock css %}

{% block body %}
    <h2 class="main">Modifier mon mot de passe</h2>

    <h3>Profil de {{ app.user.userIdentifier }}</h3>

    {{ form(form) }}
{% endblock %}
