# Bootstrap
app/bootstrap*
/app/bootstrap.php.cache

# Symfony directories
vendor/*
/build/
/bin/
!/bin/install
!/bin/codesniffer
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
!web/js/ckeditor
!app/cache/.gitkeep
!app/logs/.gitkeep

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/phpunit.xml

# Composer
composer.phar
composer.lock

# Dossier projet phpStorm/NetBeans
.idea/*
nbproject/*

# Mac
.DS_STORE
*/.DS_STORE

# Fichiers de serveurs
.bash_history
.ssh/
log/
tmp/
web/app.php.info
web/stats/
