/app/config/parameters.yml
/app/config/parameters.yml.local

/bin/*

/var/*
!var/SymfonyRequirements.php

!/var/cache
/var/cache/*

!/var/logs
/var/logs/*

!/var/sessions
/var/sessions/*

/vendor/

/web/bundles/
/web/vendor/
/web/public/

!/web/public/tools/aamv/
/web/public/tools/aamv/*

!/web/public/tools/veronalice
/web/public/tools/veronalice/*
