/docker/dump/*.sql

/.env.local

/bin/*

/var/*
!/var/cache
/var/cache/*

!/var/logs
/var/logs/*

!/var/sessions
/var/sessions/*

/vendor/

/public/bundles/
/public/public/

!/public/public/tools/aamv/
/public/public/tools/aamv/*

!/public/public/tools/veronalice
/public/public/tools/veronalice/*

.claude/
