<div align="center" width="100%" style="width:100%;background-color:#f4f4f4;padding:15px 0;margin:0;">
    <table align="center" width="800" style="width:800px;">
        <tbody>
        <tr>
            <td width="100"></td>
            <td width="600">
                <table>
                    <tbody>
                    <tr>
                        <td width="100"></td>
                        <td>
                            <img width="400" src="http://aamv.net/images/new/logo.png">
                        </td>
                        <td width="100"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="100"></td>
        </tr>
        <tr>
            <td width="100"></td>
            <td width="600" style="font-size:15px;line-size:20px;font-family:'Helvetica Neue',Helvetica,sans-serif;color:#2a2a2a;">
                <div width="600" style="border:1px solid #ccc;background-color:#fff;text-align:left;padding:5px 15px;">
                    <p>Bonjour <span style="font-weight:bold;">{{ user.firstname }} {{ user.name }}</span>,</p>
                    <p>
                        Une demande de ré-initialisation de mot de passe pour votre compte vient d'être faites.
                    </p>
                    <p>
                        Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet email. Votre mot de
                        passe reste le même.
                    </p>
                    <p>
                        En revanche, si vous souhaitez changer votre mot de passe, cliquez simplement sur le bouton ci
                        dessous.
                    </p>
                    <p>
                        <a
                            style="
                                background-color: #316FB2;
                                border: 1px solid #316FB2;
                                color: #fff;
                                font-weight: bold;
                                display: inline-block;
                                padding: 6px 12px;
                                text-align: center;
                                vertical-align: middle;
                                cursor: pointer;
                                border-radius: 4px;
                                text-decoration: none;
                            "
                            href="http://localhost:8080{{ path('reinit_password', {
                                code: user.passwordReinitializationCode
                            }) }}"
                        >
                            Ré-initialiser votre mot de passe
                        </a>
                    </p>
                    <p>
                        Nous vous souhaitons une agréable journée.
                    </p>
                    <p>
                        Cordialement,<br>
                        <span style="font-weight:bold;">L'Association des Assistantes Maternelles de Villeneuve et environs</span>
                    </p>
                </div>
            </td>
            <td width="100"></td>
        </tr>
        </tbody>
    </table>
</div>
