<div align="center" width="100%" style="width:100%;background-color:#f4f4f4;padding:15px 0;margin:0;">
    <table align="center" width="800" style="width:800px;">
        <tbody>
            <tr>
                <td width="100"></td>
                <td width="600">
                    <table>
                        <tbody>
                            <tr>
                                <td width="100"></td>
                                <td>
                                    <img width="400" src="http://aamv.net/images/new/logo.png">
                                </td>
                                <td width="100"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="100"></td>
            </tr>
            <tr>
                <td width="100"></td>
                <td width="600" style="font-size:15px;line-size:20px;font-family:'Helvetica Neue',Helvetica,sans-serif;color:#2a2a2a;">
                    <div width="600" style="border:1px solid #ccc;background-color:#fff;text-align:left;padding:5px 15px;">
                        <p>Bonjour <span style="font-weight:bold;">{{ user.firstname }} {{ user.name }}</span>,</p>
                        <p>
                            Tous les membres de l'association <span style="font-weight:bold;">AAMV</span> vous souhaite la bienvenue
                            sur leur site. Vous y trouverez un grand nombre d'informations sur les assistantes maternelles et l'association
                            elle-même. De même, vous y découvrirez les réunions organisées par l'association, et des évènements
                            sur la petite enfance proposés dans la région.
                        </p>
                        <p>
                            Le site propose aussi aux assistantes maternelles agréées et membre de l'association de
                            <span style="font-weight:bold;">publier des annonces</span> lorsqu'elles ont une/des place(s) qui se
                            libère(nt). Les parents peuvent aussi <span style="font-weight:bold;">poster des annonces</span>, si ils
                            cherchent une assistante maternelle pour garder leur(s) enfant(s).
                        </p>
                        <p>
                            Un grand nombre d'<span style="font-weight:bold;">outils</span> vous sont aussi proposés au format DOC/PDF,
                            comme par exemple des documents pour calculer votre salaire brut à partir de votre salaire net, ou encore
                            un contrat pour la garde occasionnelle d'enfants.
                        </p>
                        <p>
                            Nous vous souhaitons une agréable visite sur notre site.
                        </p>
                        <p>
                            Cordialement,<br>
                            <span style="font-weight:bold;">L'Association des Assistantes Maternelles de Villeneuve et environs</span>
                        </p>
                    </div>
                </td>
                <td width="100"></td>
            </tr>
        </tbody>
    </table>
</div>