<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Association des Assistantes Maternelles de Villeneuve d'Ascq{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/base.css') }}">

        {% block css %}{% endblock css %}
    </head>
    
    <body>
        {% include '::header.html.twig' %}
        {% include '::nav.html.twig' %}

        <div id="body">
            <div class="int">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>

        {% include '::footer.html.twig' %}
    </body>
</html>
