<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AAMV{% endblock %}</title>
        
        {% stylesheets 
            '@AamvSiteBundle/Resources/public/css/base.css'
            '@AamvSiteBundle/Resources/public/css/News/index.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        {% include '::title.html.twig' %}
        {% include '::nav.html.twig' %}

        <div id="body">
            <div class="int">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>

        {% include '::footer.html.twig' %}
    </body>
</html>
