#body a img {
    position: absolute;
    top: 100px;

    width: 150px;
}
#body a:first-of-type img {
    left: 0;
}
#body a:nth-of-type(2) img {
    right: 0;
}
#body #logo {
    display: block;

    max-width: 80%;
    margin: 10px auto 30px;
}

#news {
    width: 95%;
    margin: 0 auto;

    padding: 10px 15px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#news a {
    color: #493917;
}
#news a:hover {
    color: #7F673C;
}

.new {
    float: left;
    margin: 10px 1%;

    width: 48%;
    height: 100px;
    padding: 10px 15px;

    background: #EEE;
    border-bottom: 4px solid #FFCE79;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
.new.important {
    background: #FFD792;
    border-color: #7F673C;
}
.new:hover {
    background: #E5E5E5;
    border-color: #7F673C;
}
.new.important:hover {
    background: #FFCE79;
}
.new.important.first {
    width: 98%;
    text-align: center;
    font-size: 1.2em;
}

.new .title {
    height: 80px;
    line-height: 80px;
}

#body .new h3 {
    vertical-align: middle;
    display: inline-block;

    line-height: 1;
    margin: 0;

    font-size: 1.1em;
    color: #493917;
}

#newsletter {
    width: 70%;
    padding: 5%;

    margin: 10px auto;

    border: 1px solid #AAA;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newsletter p {
    margin: 0;
    margin-bottom: 20px;

    text-align: center;
}
#newsletter p:first-letter {
    margin: 0;
}

#newsletter input[type=mail], #newsletter input[type=submit] {
    float: left;

    width: 80%;
    height: 30px;

    padding: 5px 10px;
    margin: 0;

    font-size: 16px;
    line-height: 16px;

    border-radius: 0;
    border: 1px solid #AAA;

    color: #555;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newsletter input[type=submit] {
    width: 20%;
    border-left: 0;

    color: #555;

    background: rgba(250, 202, 74, 0.85);
}
#newsletter input[type=submit]:hover {
    box-shadow: 0 0 15px rgba(173, 140, 51, 0.2) inset;

    cursor: pointer;
}
#newsletter input[type=submit]:active {
    background: rgba(173, 140, 51, 0.6);
    box-shadow: 0 0 15px rgba(250, 202, 74, 0.4) inset;

    cursor: pointer;
}

#newsletter input[type=radio] {
    display: none;
}
#newsletter label {
    display: inline-block;
    float: right;

    padding: 2px 10px;
    background: #EEE;

    border: 1px solid #AAA;
    border-top: 0;
}
#newsletter label:last-child {
    border-right: none;
}
#newsletter input[type=radio]:checked + label {
    background: #93EB96;
}
#newsletter label:hover {
    cursor: pointer;
}