imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_factory_id: session.storage.factory.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false
