parameters:
    database_host:     127.0.0.1
    database_port:     null
    database_name:     null
    database_user:     null
    database_password: null
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       null
    mailer_user:       ~
    mailer_password:   ~
    secret:            ThisTokenIsNotSoSecretChangeIt

    # You key for the Google city API
    api_city_key: your_key

    # The base URL of the website (to manage different environment)
    base_url: http://localhost:8080
