{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}On en parle - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">On en parle</h2>

    <div class="col-xs-12">
        <div class="row spaced">
            <h3>La voix du nord</h3>

            <div class="col-xs-3 img-bloc">
                <a href="/public/presse-1.pdf"><img src="/public/presse-1-min.jpg"></a>
            </div>
            <div class="col-xs-9">
                <p>Edition : <b>24/09/2003</b></p>
                <p>"Des nounous bien organisées"</p>
                <p>"L'association des assistantes maternelles réunit ce soir ses 230 adhérentes"</p>
            </div>
        </div>

        <div class="row spaced">
            <h3>La tribune</h3>

            <div class="col-xs-3 img-bloc">
                <a href="/public/presse-2.pdf"><img src="/public/presse-2-min.jpg"></a>
            </div>
            <div class="col-xs-9">
                <p>Edition : <b>Septembre 2003</b></p>
                <p>"Sur le Ouaib !"</p>
                <p>"aamv.net, C'est le site internet de l'Association des assistantes maternelles de Villeneuve et environs."</p>
            </div>
        </div>
    </div>
{% endblock %}