{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Nous contacter - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Nous contacter</h2>

    <p>Vous pouvez directement contacter la présidente de l'association <b>Nathalie Deconinck</b> au : <a href="tel:+33320917663">03 20 91 76 63</a>.</p>
    <p>Vous êtes priés d'utiliser ce numéro <b>uniquement</b> en semaine, de 14h à 16h.</p>
    <p>Vous pouvez aussi la contacter par email, à l'adresse <a href="mail:contact@aamv.net">contact@aamv.net</a>.</p>
{% endblock %}