{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Nous rejoindre - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Nous rejoindre</h2>

    <p>Rejoindre l'A.A.M.V. est assez simple. Il vous faut pour cela remplir le bulletin d'adhésion
        à l'association, que vous pouvez <a href="">télécharger ici</a></p>
    <p>Une fois celui-ci imprimé et rempli, il vous faut l'envoyer le renvoyer selon les instructions
        définies dans le bulletin d'adhésion.</p>
{% endblock %}