{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Présentation - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Présentation</h2>

    <div class="alert alert-success">L'A.A.M.V. est une association à but non lucratif, loi de 1901, enregistrée en Novembre 1997. Pour l'année 2017, nous comptabilisions 140 assistantes maternelles agréées adhérentes de l'association. Elle a pour but de réunir et d'aider les assistantes maternelles et les parents de la région. Mais pas que. Voici les différents objectifs de l'association.</div>

    <div class="content col-xs-12">
        <h3>Services rendus aux assistantes maternelles</h3>

        <p><i class="glyphicon glyphicon-hand-right"></i>
            De ne plus être isolées, de se retrouver en réunion dans une grande salle, de pouvoir discuter des différents problèmes que l'on rencontre dans notre vie professionnelle
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De respecter le cadre juridique : droit du travail, convention collective, contrat de travail, agrément PMI, et de se tenir informés des évolutions réglementaires.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            D'avoir un contrat de travail clair, précis et mis à jour régulièrement, des fiches techniques pour tout savoir sur la mensualisation, les congés payés, les impôts ...
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De vous aider dans les démarches administratives URSSAF, CAF, POLEMPLOI (en cas de chômage), CPAM (indemnités de maladie journalières), IRCEM (complémentaires).
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De vous informer des différentes formations possibles avec IPERIA afin de continuer à améliorer votre pratique professionnelle.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Des relations avec les services de la "Petite Enfance" de la ville et du Conseil Départemental.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De se retrouver en petits groupes le samedi, une fois par mois pour s'entraîner, grâce à des exercices pratiques, à calculer la mensualisation, les congés payés en année complète et incomplète, le calcul de la cour de cassation...
        </p>
    </div>

    <div class="content col-xs-12">
        <h3>Services rendus aux parents</h3>

        <p><i class="glyphicon glyphicon-hand-right"></i>
            D'orienter vers des assistantes maternelles agréées de l'association, suivant leurs disponibilités, en prenant contact avec nous (service "petites annonces" gratuit sur notre site).
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            D'informer les parents sur les aides à l'emploi d'une assistante maternelle agréée.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De donner des conseils concernant les calculs de la mensualisation, des congés payés, les fiches de paie, les journées d'absence, la fin de contrat ...
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Avoir les coordonnées (adresse, téléphone, mail) des administrations et organismes en cas de nécessité.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            En cas de maladie de l'assistante maternelle, un service de remplacement peut être mis en place pour assurer l'accueil de vos enfants, en accord avec le Conseil Départemental.
        </p> Buts de cette association
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De tirer les assistantes maternelles de leur isolement.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De permettre aux assistantes maternelles de se retrouver régulièrement et de s'informer de leurs droits.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De faire reconnaître les assistantes maternelles comme de véritables professionnelles de la petite enfance ayant les connaissances et les compétences nécessaires pour accueillir les enfants et veiller à leur épanouissement physique et psychologique. Nous avons la possiblité de participer aux activités du RAM.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Être un repère supplémentaire pour les parents qui recherchent un mode de garde souple dans l'organisation de l'accueil de leur enfant. Nous faire reconnaître d'eux.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Pour cela nous suivons des formations, nous nous réunissons, nous nous tenons informées de tout ce qui peut nous permettre de mieux accueillir les enfants.
        </p>
    </div>
{% endblock %}