{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Présentation - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Présentation</h2>

    <div class="alert alert-success">L'A.A.M.V. est une association à but non lucratif, loi de 1901, enregistrée en Novembre 1997. Pour l'année 2017, nous comptabilisions 140 assistantes maternelles agréées adhérentes de l'association. Elle a pour but de réunir et d'aider les assistantes maternelles et les parents de la région. Mais pas que. Voici les différents objectifs de l'association.</div>


    <div class="content col-xs-12">
        <h3>Pour les assistantes maternelles</h3>

        <p><i class="glyphicon glyphicon-hand-right"></i>
            Ne plus être isolés, se retrouver en réunion dans une grande salle, pouvoir discuter des différents problèmes que l'on rencontre dans notre vie professionnelle</p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Avoir la possibilité de participer aux activités du RAM
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Respecter le cadre juridique : droit du travail, convention collective, contrat de travail, agrément PMI, et se tenir informés des évolutions réglementaires.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Avoir un contrat de travail clair, précis et mis à jour régulièrement, des fiches techniques pour tout savoir sur la mensualisation, les congés payés, les impôts ...
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Vous aider dans les démarches administratives URSSAF, CAF, ASSEDIC (en cas de chômage), CPAM (indemnités de maladie journalières), IRCEM (complémentaires).
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Vous informer des différentes formations possibles avec IPERIA et AGEFOS afin de continuer à améliorer votre pratique professionnelle.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Avoir des relations avec les services "Petite Enfance" de la ville et du Conseil Départemental.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Et surtout, l'association a pour but de nous faire reconnaître comme de véritables professionnelles de la Petite Enfance. Nous y parviendrons en nous formant, nous informant et en travaillant ensemble.
        </p>
    </div>

    <div class="content col-xs-12">
        <h3>Pour les parents</h3>

        <p><i class="glyphicon glyphicon-hand-right"></i>
            D'orienter vers des Assistantes Maternelles Agréées de l'association, suivant leurs disponibilités, en prenant contact avec nous (service "petites annonces" gratuit sur le site).
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            D'informer les parents sur les aides à l'emploi d'une Assistante Maternelle Agréée.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            De donner des conseils concernant les calculs de la mensualisation, des congés payés, les fiches de paie, les journées d'absence, la fin de contrat ...
            <ul class="with-type">
                <li>Un contrat de travail qui facilite une relation de confiance entre l'Assistante Maternelle et les Parents (un contrat bien élaboré évite les tensions par la suite)</li>
                <li>La déclaration d'accueil</li>
                <li>Toutes les démarches administratives à effectuer</li>
            </ul>
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            Avoir les coordonnées (adresse, téléphone) des administrations et organismes en cas de nécessité.
        </p>
        <p><i class="glyphicon glyphicon-hand-right"></i>
            En cas de maladie de l'assistante maternelle, un service de remplacement peut être mis en place pour assurer l'accueil de vos enfants, en accord avec le Conseil Départemental.
        </p>
    </div>
{% endblock %}