<footer class="col-md-12">
    <div class="int clearfix">
        <div class="col-md-6">
            <h4>Nos partenaires</h4>
                <img src="{{ asset('bundles/app/images/nord.png') }}" alt="Logo du département du nord">
                <img src="{{ asset('bundles/app/images/villeneuve.jpg') }}" alt="Logo de la ville de Villeneuve d'Ascq">
        </div>
        <div class="col-md-6">
            <h4>Réalisation</h4>
            <ul>
                <li>Développement : <a href='http://damien-deconinck.fr'>Damien Deconinck</a> - 2016</li>
                <li>Graphisme : <a href='http://damien-deconinck.fr'>??? ???</a> - 2016</li>
            </ul>
        </div>
    </div>
</footer>