<header id="top" class="header clearfix">
    <a href='{{ path('homepage') }}'>
        <span id="bloc">
            <img src="{{ asset('bundles/app/images/logo.png') }}" alt="Logo de l'association aamv">
        </span>
    </a>
</header>