article {
    width: 90%;
    margin: 20px 0 0;

    background-color: #FAD87C;
}
article:nth-child(odd) {
    margin-left: 10%;
    text-align: right;
}
article:nth-child(odd) footer {
    text-align: left;
}

article header {
    height: auto;
    padding: 10px 20px;

    color: #FFF;
    font-weight: bold;
    font-size: 1.2em;

    color: #FFF;
    background-color: #AD8722;
}

article section {
    padding: 10px 30px;
}
article section a {
    font-weight: bold;
}

.liste_news {
    padding: 10px 15px;

    color: #333;
    font-weight: bold;

    background-color: #ECCC75;
    border-radius: 5px;
}

article footer {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;

    margin-top: 10px;

    color: #444;
    font-size: 0.9em;
    text-align: right;

    background: none;
}