{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Formulaire de disponibilités - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Formulaire de disponibilités</h2>
{% endblock %}