{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Bonnes adresses - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Bonnes adresses</h2>

    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>Caisse Allocations Familiales</h3>
                <div class="content">
                    <p>Téléphone : <a href="tel:+33810255980">0810255980</a></p>
                    <p>Site web : <a href="http://www.caf.fr">ici</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>Pôle emploi</h3>
                <div class="content">
                    <p>Téléphone : <a href="tel:+333995">3995</a></p>
                    <p>Site web : <a href="https://www.pole-emploi.fr/accueil/">ici</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>IRCEM</h3>
                <div class="content">
                    <p>261 Avenue des Nations Unies</p>
                    <p>59100 ROUBAIX</p>
                    <p>Téléphone : <a href="tel:+33320455700">03 20 45 57 00</a></p>
                    <p>Site web : <a href="http://www.ircem.fr">ici</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>URSSAF de Lille</h3>
                <div class="content">
                    <p>97 rue Flament-Reboux</p>
                    <p>59838 Lambersart Cedex</p>
                    <p>Téléphone : <a href="tel:+33320227800">03 20 22 78 00</a></p>
                    <p>Site web : <a href="http://www.urssaf.fr">ici</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>PMI de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>Chemin des Crieurs</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p>Téléphone : <a href="tel:+33320050950">03 20 05 09 50</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>UTPAS de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>100 Boulevard Van Gogh</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p>Téléphone : <a href="tel:+33359739201">03 59 73 92 01</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}