{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Bonnes adresses - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Bonnes adresses</h2>

    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>Caisse Allocations Familiales de Lille</h3>
                <div class="content">
                    <p>82 rue Brûle Maison</p>
                    <p>59000 LILLE</p>
                    <p><a href="tel:+33320155757">03 20 15 57 57</a></p>
                    <p><a href="http://www.caf.fr">Voir leur site web</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>Caisse Allocations Familiales Roubaix</h3>
                <div class="content">
                    <p>124 boulevard Gambetta</p>
                    <p>59074 ROUBAIX</p>
                    <p><a href="tel:+33821019821">0 821 01 98 21</a></p>
                    <p><a href="http://www.caf.fr/">Voir leur site web</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>URSSAF de Lille</h3>
                <div class="content">
                    <p>97 rue Flament-Reboux</p>
                    <p>59838 Lambersart Cedex</p>
                    <p><a href="tel:+33320227800">03 20 22 78 00</a></p>
                    <p><a href="http://www.urssaf.fr">Voir leur site web</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>IRCEM</h3>
                <div class="content">
                    <p>261 Avenue des Nations Unies</p>
                    <p>59100 ROUBAIX</p>
                    <p><a href="tel:+33320455700">03 20 45 57 00</a></p>
                    <p><a href="http://www.ircem.fr">Voir leur site web</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>Assedic de Lille</h3>
                <div class="content">
                    <p>43 boulevard de la Moselle</p>
                    <p>59040 LILLE Cedex</p>
                    <p><a href="tel:+33811010159">0 811 01 01 59</a></p>
                    <p><a href="http://www.assedic.fr">Voir leur site web</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>Assedic de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>Avenue de l'Avenir</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p><a href="tel:+33811010159">0 811 01 01 59</a></p>
                    <p><a href="http://www.assedic.fr">Voir leur site web</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>PMI de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>Chemin des Crieurs</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p><a href="tel:+33320050950">03 20 05 09 50</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>UTPAS de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>100 Boulevard Van Gogh</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p><a href="tel:+33359739201">03 59 73 92 01</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}