{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Tout savoir sur ... - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Divers/everything_about.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Tout savoir sur ...</h2>

    <p>Vous avez des questions? Nous avons des réponses !</p>

    <div class="fold-panel">
        <h3>
            <i class="glyphicon glyphicon-question-sign"></i>
            La convention collective des assistant(e)s maternel(le)s au 01/01/2005
        </h3>

        <div class="content">
            <p><i class="glyphicon glyphicon-play"></i> Depuis le 1er janvier 2005, les parents employeurs d’assistants maternels ont une convention collective à leur disposition</p>
            <p>En effet, l’arrêté ministériel du 17 décembre 2004, publié au Journal officiel du 28 décembre 2004, rend la Convention collective nationale de travail des Assistants Maternels du Particulier Employeur applicable au 1er janvier 2005.</p>
            <p>Cet arrêté rend obligatoire l’application de cette convention par tous les parents employeurs qui confient leur(s) enfant(s) à un assistant maternel agréé.
            <p><i class="glyphicon glyphicon-play"></i> Vous pouvez lire le texte de l'arrêté de l'extension en cliquant <a href="/public/CNAM-Arrete_Extension_CCNAssMat_2005.01.06.pdf">ici</a>.</p>
            <p><i class="glyphicon glyphicon-play"></i> Vous pouvez télécharger l’intégralité du texte de la convention en cliquant <a href="/public/CNAM-CCNAssMat_2005.01.06.pdf">ici</a>.</p>
            <p>Attention aux interprétations abusives !</p>
            <p>Nous vous mettons en garde sur les interprétations abusives qui se développent çà et là sur la convention collective nationale qui vient d'être étendue et rendue applicable à partir du 01/01/2005.</p>
            <p>Elle ne doit pas être confondue ni avec les textes en vigueur ni avec le projet de loi sur le statut des assistant(s)s maternel(le)s qui doit être débattu devant l'Assemblée Nationale prochainement.</p>
        </div>
    </div>
    <div class="fold-panel">
        <h3>
            <i class="glyphicon glyphicon-question-sign"></i>
            La PAJE (enfants nés après le 1er Janvier 2004)
        </h3>

        <div class="content">
            <p>Toutes les informations de la PAJE sur le site de <a href="www.pajemploi.urssaf.fr/">Pajemploi</a>. Site dédié :</p>
            <ul class="with-type">
                <li>Aux parents qui emploient une personne pour garder leur enfant né ou adopté après le 31 décembre 2003, ainsi que ses frères et soeurs âgés de moins de 6 ans.</li>
                <li>Aux assistantes maternelles agréées</li>
            </ul>
            <p><a href="www.pajemploi.urssaf.fr/pajeweb/present.jsp">Questions / Réponses sur la PAJE</a></p>
            <p><a href="www.pajemploi.urssaf.fr/pajeweb/serviceemp.jsp">L'espace Parents - Employeur</a></p>
            <p><a href="www.pajemploi.urssaf.fr/pajeweb/servicesal.jsp">L'espace Assistante Maternelle</a></p>
        </div>
    </div>
    <div class="fold-panel">
        <h3>
            <i class="glyphicon glyphicon-question-sign"></i>
            Les Préavis assistant(e)s maternel(le)s non Permanentes
        </h3>

        <div class="content">
            <p>Le préavis est obligatoire après 3 mois de travail.</p>
            <p>L’employeur et l’employé peuvent mettre fin au contrat sans préavis durant les 3 premiers mois du contrat.</p>

            <p class="top-spaced"><i class="glyphicon glyphicon-play"></i>La fin du contrat par l’employeur.</p>

            <div class="spaced">
                <p>L’employeur doit envoyer une lettre recommandée avec accusé réception pour mettre fin au contrat, ou remettre la lettre en main propre à son employé, ce dernier doit signer la lettre et la dater.</p>
                <p>C’est la date de réception de cet avis qui démarre le préavis.</p>
                <p>Le préavis est de 15 jours calendaires, sauf dispositions contractuelles, il est réglé selon les termes du contrat aux jours de travail prévus.</p>
                <p>Si l’employeur ne souhaite pas que le préavis soit effectué, il est dans l’obligation de le mentionner dans sa lettre et de payer le préavis dans sa totalité (selon les jours normalement travaillés).</p>
                <p>Le préavis sera réglé (travaillé ou pas) à son dernier jour.</p>
            </div>

            <p class="top-spaced"><i class="glyphicon glyphicon-play"></i>La fin du contrat par l’employée.</p>

            <div class="spaced">
                <p>L’employé doit envoyer une lettre recommandée avec accusé réception pour mettre fin au contrat, ou remettre la lettre en main propre à son employeur qui doit la signer et la dater.</p>
                <p>C’est la date de réception de cet avis qui démarre le préavis.</p>
                <p>Le préavis est de 15 jours calendaires, sauf dispositions contractuelles, il est réglé selon les termes du contrat aux jours de travail prévus.</p>
                <p>Si l’employé ne souhaite pas effectuer le préavis ET si l’employeur est d’accord, le préavis ne sera pas réglé.</p>
                <p>Si l’employé refuse d’effectuer son préavis, ce dernier ne sera pas réglé, et l’employé devra des indemnités à son employeur.</p>
                <p>Le règlement se fera à la date de fin du préavis.</p>
            </div>
        </div>
    </div>
    <div class="fold-panel">
        <h3>
            <i class="glyphicon glyphicon-question-sign"></i>
            <a href="/public/aide_A.M_2014.jpg" target="_blank">Aide pour les assistant(e)s maternel(le)s par la CAF</a>
        </h3>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/Divers/everything_about.js') }}"></script>
{% endblock javascripts %}
