{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Questions/Réponses - {{ parent() }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Divers/questions_answers.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Questions/Réponses</h2>

    <div>
        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Je suis assistant(e) maternel(le), je souhaite passer une annonce, mais j'habite dans un autre département, et mon code postal n'apparait pas. Que faire ?</p>
        <p>Les "Petites Annonces" des assistant(e)s maternel(le)s. ne sont <u>que</u> pour les assistant(e)s maternel(le)s membres de l'association A.A.M.V. (à jour de cotisation) du Nord/Pas de Calais et les parents. Vous ne pouvez donc pas mettre votre annonce.</p>

        <hr>

        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Si j'ai bien lu, les annonces que passent les assistant(e)s maternel(le)s sont gratuites ?</p>
        <p>Les annonces passées sous la rubrique "Annonces Assistant(e)s Maternel(le)s" sont GRATUITES <u>uniquement</u> pour les offres de disponibilités des assistant(e)s maternel(le)s (emploi). En aucun cas, cette rubrique n'est faite pour acheter ou vendre du matériel.</p>

        <hr>

        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Si j'ai bien lu, les annonces que passent les Parents sont gratuites?</p>
        <p>Les annonces passées dans la rubrique "Annonces Parents" sont GRATUITES <u>uniquement</u> pour les parents qui recherchent une assistant(e) maternel(l)e pour l'accueil de leur enfant. En aucun cas, cette rubrique n'est faite pour acheter ou vendre du matériel.</p>

        <hr>

        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Suis-je obligé(e) de m'inscrire pour passer une annonce ?</p>
        <p>Oui, la seule facon de valider une annonce est de s'inscrire sur le site. Il vous sera demandé votre nom, une adresse e-mail valide, et votre ville - code postal. Après cette inscription, un e-mail vous sera envoyé (dans les 5 minutes), qui vous demandera de valider votre inscription. Sachez que ces données ne seront JAMAIS transmises à un tiers.</p>

        <hr>

        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Je veux vendre ma voiture, mais rien n'est indiqué pour cela?</p>
        <p>Toutes les petites annonces du site sont orientées "Petite Enfance". Toute annonce qui ne respectera pas la charte sera irrémédiablement supprimée.</p>

        <hr>

        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Je viens de passer une annonce. Combien de temps restera-t-elle sur le site ?</p>
        <p>Votre annonce restera sur le site pendant un mois puis elle sera automatiquement supprimée. Après ce délai il faudra la renouveler.</p>

        <hr>

        <p class="question"><span class="glyphicon glyphicon-hand-right"></span>Je veux supprimer mon compte et toutes mes annonces. Puis-je le faire?</p>
        <p>Oui, dans votre espace membre, dans la rubrique "Modifier vos infos". Il vous suffit de cliquer sur "Supprimer mon compte et toutes mes annonces". C'est irrémédiable, tout sera supprimé, sans possibilité de revenir en arrière.</p>
    </div>
{% endblock body %}
