{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Sites utiles - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Sites utiles</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>ASSM@AT.COM</h3>
            <div class="content">
                <p><a href="http://www.assmat.com">Voir le site web</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>UFNAFAAM</h3>
            <div class="content">
                <p>Union Fédératrice Nationale des Associations de Famille d'Accueil et Assistantes Maternelles</p>
                <p><a href="http://www.ufnafaam.fr">Voir le site web</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>ASSISTANTE-MATERNELLE.ORG</h3>
            <div class="content">
                <p>Syndicat national professionnel des assistantes maternelles</p>
                <p><a href="http://www.assistante-maternelle.org">Voir le site web</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <h3></h3>
            <div class="content">
                <p></p>
                <p><a href="http://perso.wanadoo.fr/chezveronalice">Voir le site web</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>BEBE-NOUNOU.FR</h3>
            <div class="content">
                <p>Site très sympa : conseils , annonces, infos pratiques ...</p>
                <p><a href="http://www.bebe-nounou.fr">Voir le site web</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>FEPEM</h3>
            <div class="content">
                <p>Fédération des Particuliers Employeurs</p>
                <p><a href="http://www.fepem.fr/accueil">Voir le site web</a></p>
            </div>
        </div>
    </div>
{% endblock %}