{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Sites utiles - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="main">Sites utiles</h2>

    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>CAISSE ALLOCATIONS FAMILIALES</h3>
                <div class="content">
                    <p>Téléphone : <a href="tel:+33810255980">0 810 255 980</a></p>
                    <p>Site web : <a href="http://www.caf.fr">ici</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>PÔLE EMPLOI</h3>
                <div class="content">
                    <p>Téléphone : <a href="tel:+333949">3949</a></p>
                    <p>Site web : <a href="https://www.pole-emploi.fr/accueil/">ici</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>IRCEM</h3>
                <div class="content">
                    <p>261 Avenue des Nations Unies</p>
                    <p>59100 ROUBAIX</p>
                    <p>Téléphone : <a href="tel:+330980980990">09 80 98 09 90</a></p>
                    <p>Site web : <a href="http://www.ircem.fr">ici</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>URSSAF de Lille</h3>
                <div class="content">
                    <p>293 Avenue du Président Hoover-Reboux</p>
                    <p>59000 Lille</p>
                    <p>Téléphone : <a href="tel:+333957">3957</a></p>
                    <p>Site web : <a href="http://www.urssaf.fr">ici</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>PMI de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>Chemin des Crieurs</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p>Téléphone : <a href="tel:+33320050950">03 20 05 09 50</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>UTPAS de Villeneuve d'Ascq</h3>
                <div class="content">
                    <p>100 Boulevard Van Gogh</p>
                    <p>59650 VILLENEUVE D'ASCQ</p>
                    <p>Téléphone : <a href="tel:+33359739201">03 59 73 92 01</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>UFNAFAAM</h3>
            <div class="content">
                <p>Union Fédératrice Nationale des Associations de Famille d'Accueil et Assistantes Maternelles</p>
                <p><a href="http://www.ufnafaam.fr">Voir le site web</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>C.S.A.F.A.M.</h3>
            <div class="content">
                <p>Confédération des Syndicats d'Assistants Familiaux et Assistants Maternels</p>
                <p><a href="https://www.csafam.fr/">Voir le site web</a></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>BEBE-NOUNOU.FR</h3>
            <div class="content">
                <p>Site très sympa : conseils, annonces, infos pratiques...</p>
                <p><a href="http://www.bebe-nounou.fr">Voir le site web</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>FEPEM</h3>
            <div class="content">
                <p>Fédération des particuliers employeurs de France</p>
                <p><a href="http://www.fepem.fr/accueil">Voir le site web</a></p>
            </div>
        </div>
    </div>
{% endblock %}