{% extends 'AppBundle:Base:base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/login.css') }}">
{% endblock css %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        {% for flash in app.session.flashbag.get('admin.forgot_password.success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}

        <h2>Réinitialiser son mot de passe</h2>

        <p>
            Entrez votre adresse email ci dessous, afin que nous puissions vous envoyer un email qui vous permettra de
            réinitialiser votre mot de passe
        </p>

        <br>

        {% if error %}
            <div class="bg-danger">{{ error }}</div>
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock body %}
