services:
    AppBundle\Controller\:
        resource: '../../Controller'
        autowire: true
        autoconfigure: true
        tags: ['controller.service_arguments']

    AppBundle\DataFixtures\:
        resource: '../../DataFixtures'
        autowire: true
        autoconfigure: true

    AppBundle\Repository\ToolRepository:
        class: AppBundle\Repository\ToolRepository
        lazy: true
        factory:
            - "@doctrine.orm.default_entity_manager"
            - getRepository
        arguments:
            - "AppBundle\\Entity\\Tool"

    AppBundle\Repository\CityRepository:
        class: AppBundle\Repository\CityRepository
        lazy: true
        factory:
            - "@doctrine.orm.default_entity_manager"
            - getRepository
        arguments:
            - 'AppBundle\Entity\City'

    AppBundle\Controller\Api\CitiesApiController:
        class: AppBundle\Controller\Api\CitiesApiController
        autowire: true

    listener.legacy_authentication:
        class: AppBundle\Listener\LegacyAuthenticationListener
        arguments: ['@security.token_storage', '@request_stack', '@security.user_password_hasher', '@doctrine']
        tags:
            - { name: kernel.event_listener, event: security.interactive_login }

    converter.csv_to_array:
        class: AppBundle\Service\Converter\CsvToArrayConverter

    password_hasher.legacy:
        class: AppBundle\Service\PasswordEncoder\LegacyPasswordEncoder

    AppBundle\Form\Type\RegisterType:
        class: AppBundle\Form\Type\RegisterType
        autowire: true
        tags:
            - { name: form.type }

    form.tool:
        class: AppBundle\Form\Type\ToolType
        tags:
            - { name: form.type }

    form.person:
        class: AppBundle\Form\Type\PersonType
        arguments: ['@retriever.city']
        tags:
            - { name: form.type }

    form.profile:
        class: AppBundle\Form\Type\ProfileType
        arguments: ['@retriever.city']
        tags:
            - { name: form.type }

    form.login:
        class: AppBundle\Form\Type\LoginType
        tags:
            - { name: form.type }

    form.change_password:
        class: AppBundle\Form\Type\ChangePasswordType
        arguments: [ '@security.user_password_hasher' ]
        tags:
            - { name: form.type }

    retriever.city:
        class: AppBundle\Service\Retriever\CityRetriever
        autowire: true

    AppBundle\Service\Retriever\CityRetriever:
        alias: retriever.city

    retriever.role:
        class: AppBundle\Service\Retriever\RoleRetriever
        arguments: ['@security.authorization_checker']

    AppBundle\Service\Retriever\RoleRetriever:
        alias: retriever.role

    retriever.publishable:
        class: AppBundle\Service\Retriever\PublishableRetriever
        arguments: ['@doctrine.orm.entity_manager']

    AppBundle\Service\Validator\Constraints\CityFromApiConstraintValidator:
        class: AppBundle\Service\Validator\Constraints\CityFromApiConstraintValidator
        autowire: true
        tags:
            - { name: validator.constraint_validator }

    validator.email:
        class: AppBundle\Service\Validator\Constraints\EmailValidator
        tags:
            - { name: validator.constraint_validator, alias: email_validator }

    mailer.registration:
        class: AppBundle\Service\Mailer\RegistrationMailer
        arguments: ['@twig', '@mailer']

    AppBundle\Service\Mailer\RegistrationMailer:
        alias: mailer.registration

    mailer.forgot_password:
        class: AppBundle\Service\Mailer\ForgotPasswordMailer
        arguments: ['@twig', '@mailer', '%env(BASE_URL)%']

    AppBundle\Service\Mailer\ForgotPasswordMailer:
        alias: mailer.forgot_password

    kernel.listener.kernel_request:
         class: AppBundle\Service\EventListener\ErrorRedirect
         arguments:
             - "@router"
         tags:
             - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }

    twig.extension.date:
        class: AppBundle\Twig\DateExtension
        tags:
            - { name: twig.extension }

    kernel.listener.consent_redirect:
         class: AppBundle\Service\EventListener\ConsentRedirectListener
         arguments:
             - "@security.token_storage"
             - "@router"
         tags:
             - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }
