{% extends "::base.html.twig" %}

{% block title %}Les news - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/News/index.css') }}">
{% endblock css %}

{% block body %}
    <h2>Les news</h2>

    <article>
        <header>Une news comme une autre</header>
        <section>Une news avec du texte, des infos, du blabla sur les nouveautés :)</section>
        <footer>Par Damien Deconinck, le Samedi 06 Décembre 2014</footer>
    </article>

    <article>
        <header>Une news comme une autre</header>
        <section>Une news avec du texte, des infos, du blabla sur les nouveautés :)</section>
        <footer>Par Damien Deconinck, le Samedi 06 Décembre 2014</footer>
    </article>

    <article>
        <header>Une news comme une autre</header>
        <section>Une news avec du texte, des infos, du blabla sur les nouveautés :)</section>
        <footer>Par Damien Deconinck, le Samedi 06 Décembre 2014</footer>
    </article>

    <article>
        <header>Une news comme une autre</header>
        <section>Une news avec du texte, des infos, du blabla sur les nouveautés :)</section>
        <footer>Par Damien Deconinck, le Samedi 06 Décembre 2014</footer>
    </article>

    <article>
        <header>Une news comme une autre</header>
        <section>Une news avec du texte, des infos, du blabla sur les nouveautés :)</section>
        <footer>Par Damien Deconinck, le Samedi 06 Décembre 2014</footer>
    </article>
{% endblock body %}