{% extends "::base.html.twig" %}

{% block title %}AAMV - Acceuil{% endblock %}

{% block stylesheets %}
    {% stylesheets 
			'@AamvSiteBundle/Resources/public/css/base.css'
			'@AamvSiteBundle/Resources/public/css/News/index.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">

    {% endstylesheets %}
{% endblock %}


{% block body %}
    <a href="https://lenord.fr/jcms/j_6/accueil"><img src="{{ asset('bundles/aamvsite/images/nord.png') }}" alt="Logo du Nord"></a>
    <a href="http://www.mairie-villeneuvedascq.fr/"><img src="{{ asset('bundles/aamvsite/images/villeneuve.png') }}" alt="Logo de villeneuve"></a>
    <img id="logo" src="{{ asset('bundles/aamvsite/images/grand_logo.jpg') }}" alt="Grand Logo">

    <h2>News</h2>
    <div id="news">
        <div class="new">
            <div class="int">
                Prochaine réunion prévue pour le mois de Juin - Date à confirmer
            </div>
        </div>

        <div class="new">
            <div class="int">
                Augmentation du SMIC au 1er Janvier 2014 - Tarif horaire : 9.53€ brut
            </div>
        </div>

        <div class="new">
            <div class="int">
                Le nouveau bulletin d'adhésion 2014 est disponible
            </div>
        </div>

        <hr>
    </div>

    <h2>Mailing-Liste</h2>
    <div id="newsletter">
        <p>Inscrivez-vous et recevez les dernières informations de notre site</p>
        <form method="GET" action="">
            <input type="mail" name="mail" value="exemple@mail.fr"><input type="submit" value="Valider">
            <input id="non" type="radio" name="insc" value="non"><label for="non">Désinscription</label>
            <input id="oui" type="radio" name="insc" value="oui" checked><label for="oui">Inscription</label>
        </form>
        <hr>
    </div>
{% endblock %}