{% extends 'AamvAdminBundle::base.html.twig' %}

{% block title %}Gestion des news Aamv {% endblock %}

{% block page_title %}
    <h1><i class="fa fa-file-o"></i> Gestion des News</h1>
    <h4>Affichage, création et modification des news</h4>
{% endblock %}

{% block specific_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Admin/news.css') }}">
{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ form(form) }}
{% endblock %}