{% extends "::base.html.twig" %}

{% block title %}Outils - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Services/outils.css') }}">
{% endblock css %}

{% block body %}
    <h2>Outils</h2>

    <p>Voici des outils mis à votre disposition gracieusement par le site "<a href="http://chezveronalice.pagesperso-orange.fr/">ChezVeronalice</a>", au format Excel :</p>

    <ul>
        <li>
            Convertisseur Brut -> Net / Net -> Brut :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Convertisseurs de minutes en centièmes :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Convertisseurs de jours de CP :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calcul de la mensualisation (heures majorées, déductions, ...) :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calculer la mensualisation d'un périscolaire :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calculer la mensualisation d'un enseignant :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calculer les congés payés en valeur jour :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calculer la prime pour retrait d'enfant après 1 an d'ancienneté 1/120 :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calculer votre déclaration d'impot (2014) :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Calculer votre déclaration d'impot (2014) :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

        <li>
            Fiche de Régularisation (à la fin du contrat) :
            <a href=""><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </li>

    </ul>
{% endblock %}