{% extends "::base.html.twig" %}

{% block title %}Outils - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Outils</h2>

    <p>Voici des outils mis à votre disposition gracieusement par le site "<a href="http://perso.wanadoo.fr/chezveronalice/">ChezVeronalice</a>"</p>
{% endblock %}