{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Questions/Réponses - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Questions/Réponses</h2>
    <div>
        <br>
        <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
        Je suis assistante maternelle , je souhaite passer une annonce,
        mais j'habite dans un autre département , et mon code
        postal n'apparait pas . Que faire ? <br>
        <br>
        Les "Petites Annonces" des A.M ne sont <u>que</u>
        pour les Assistantes Maternelles membres de l'association AAMV ( à jour de cotisations ) du Nord/Pas de Calais et
        les Parents . Vous ne pouvez donc pas mettre votre annonce.</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Si j'ai bien lu, les annonces que passent les Assistantes
            Maternelles sont bien gratuites ?<br>
            <br>
            Les annonces passées sous la rubrique "Annonces
            Assistantes Maternelles" sont GRATUITES pour <u>uniquement</u>
            les offres de disponibilités des Assistantes Maternelles
            ( emploi ). En aucun cas , cette rubrique n'est faite pour
            acheter ou vendre du matériel. </p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Si j'ai bien lu, les annonces que passent les Parents sont
            bien gratuites ?<br>
            <br>
            Les annonces passées dans la rubrique "Annonces
            Parent" sont GRATUITES pour <u>uniquement</u> les parents
            qui recherchent une Assistante Maternelle pour la garde de
            leur enfant . En aucun cas , cette rubrique n'est faite pour
            acheter ou vendre du matériel.</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Suis-je obligé(e) de m'inscrire pour passer une annonce
            ? <br>
            <br>
            Oui , la seule facon de valider une annonce est de passer
            par une inscription . Il sera demandé votre nom , une
            adresse e-mail valide , et votre ville - code postal . Après
            cette inscription , un e-mail vous sera envoyé ( dans
            les 5 minutes ) et qui vous demandera de valider votre<br>
            inscription . Tout ceci , pour éviter d'avoir des annonces
            "bidon" sur ce site . Pour votre information ces
            données ne seront JAMAIS transmises à un tiers.</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Je suis abonné AOL , et je n'arrive pas à passer mon annonce . Pourquoi ? <br>
            <br>
            Si vous utiliser le navigateur d'AOL, vous n'arriverez pas à entrer , modifier, supprimer vos annonces sur notre site . La raison , est que le navigateur AOL n'est pas compatible à 100% avec Internet Explorer , Mozilla etc ..... . ( lié à des spécificités de sécurité qu'utilise notre système de petites annonces et que ne reconnait pas le navigateur d'AOL. ) </p>
        <p>Vous devez donc utiliser <span class="Style1">obligatoirement </span>, un autre navigateur internet que celui fourni par AOL . C'est votre seule solution. </p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Lorsque je parcours les petites annonces, dans mon espace Utilisateur, je ne vois pas tous les menus . Pourquoi ? <br>
            <br>
            Comme annoncé dans la page d'accès , vous ne devez pas bloquer les "cookies" , ni les scripts de votre navigateur . Si vous faites cela , vous n'aurez pas accès à ces fonctions </p>
        <p>Remettez , la configuration par défaut de votre Navigateur Internet . ( Attention donc si vous utiliser des outils qui vous bloquent ces fonctions ) </p>
        <p>Dans tous les cas , n'oubliez jamais que vous devez sécuriser votre PC/MAC avec un anti-virus . C'est votre protection contre les virus ...... </p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Je souhaite passer une annonce pour vendre une Poussette .
            Je vois que c'est payant . Comme procéder ? <br>
            <br>
            Ce type d'annonces demande une contribution de votre part
            de 0.56 d'euros par annonce passée . Pourquoi ? L'association
            est une association loi 1901 , des bénévoles
            investissent du temps et de l'argent dans le développement
            de ce site , et comme rien n'est gratuit ( hébergement
            du site ... ), c'est pour cette raison que nous demandons
            cette faible contribution .</p>
        <hr> <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Comment se passe le paiement d'une annonce ? <br>
            <br>
            A partir du moment , ou vous passerez par le choix "Nouvelle
            annonce payante" dans votre espace Membres, vous accéderez
            à une page dédiée . Sur cet écran
            , vous devrez cliquez sur le drapeau Francais . Un écran
            apparaitra avec un numero de téléphone que vous
            devrez appeler ( 0,56 euros l'appel ) . Vous obtiendrez un
            "code d'accès" ( valable une seule fois )
            , que vous devrez bien noter .<br>
            Et c'est ce code que vous écrirez dans la zone , puis
            OK . Si le code est valide , vous entrerez dans le rubrique
            des annonces payantes .</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Je viens d'obtenir un code d'accès , pour une annonce
            payante , mais cela ne fonctionne pas ?<br>
            <br>
            Pas d'inquiétude à avoir. Envoyez un mail à
            <script language="JavaScript" src="mail-annonce.js" type="text/JavaScript"></script><a href="mailto:annonces@aamv.net">annonces@aamv.net</a>
            avec les informations suivantes :<br>
            - votre nom<br>
            - votre adresse e-mail ( qui est le nom de votre compte utilisateur
            ) <br>
            - le code d'accès obtenu par téléphone<br>
            - la date et l'heure de votre demande pour ce code<br>
            <br>
            Nous vous répondrons dans les meilleurs délais
            pour régler ce point . Après vérification
            de ces 4 points ( que ce code n'a pas déja été
            utilisé sur une autre annonce ) , nous vous en adresserons
            un nouveau.</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Je veux vendre ma voiture, mais rien n'est indiqué
            pour cela ? <br>
            <br>
            Normal , comme il est bien stipulé, les petites annonces
            sont orientées "petite enfance" , et un bébé
            , n'a pas encore besoin d'automobile . Toute annonce qui ne
            sera pas conforme à la charte , sera irrémédiablement
            supprimée, et le compte de l'émetteur de l'annonce
            le sera également . </p>
        <hr> <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            J'ai saisi une annonce , mais je veux modifier des données
            sur l'annonce. Comment faire ?<br>
            <br>
            Vous devez entrer dans la rubrique " Espace Membre"
            par votre compte ( adresse e-mail et mot de passe ) ensuite
            vous pourrez accéder, sous le menu , "modifier
            annonce(s)", aux différents choix : <br>
            - modifer une annonce<br>
            - ajouter / supprimer une photo<br>
            - supprimer vos annonces </p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Je souhaite ajouter une photo dans une de mes annonces , mais
            cela ne fonctionne pas .<br>
            <br>
            Cette fonction est inactive.</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Je viens de passer une annonce . Combien de temps restera-t-elle
            sur le site ?<br>
            <br>
            Par défaut une annonce reste sur le site pendant un
            mois ( valeur par défaut ). Mais vous pouvez choisir
            2 voire 3 mois, mais pas plus . Après cette date de
            fin de validité , l'annonce sera automatiquement supprimée
            .</p>
        <hr>
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Au secours !!! J'ai perdu mon mot de passe, et je ne peux
            plus entrer sur mon compte . <br>
            <br>
            Il suffit de cliquer sur le bouton "Connexion" et
            de mettre dans la zone "Mot de passe Oublié?<br>
            ", votre adresse e-mail . Un mot de passe va vous être
            adressé automatiquement. N'oubliez pas ensuite de le
            changer dans vos infos personnelles .</p>
        <hr>
        <p> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Je veux supprimer mon compte et toutes mes annonces . Puis-le
            faire ? <br>
            <br>
            Oui , dans votre espace membre, sur le point de menu "Modifier
            vos infos" . Il vous suffit de cliquer sur "Supprimer
            mon compte et toutes mes annonces" . C'est irrémédiable
            . Tout sera supprimé . Plus moyen de revenir en arriere.
        </p>
        <hr>
        <p> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            Pouvez-vous me rappeler TOUTE la procédure , pour créer
            une annonce ? </p>
        <p>Pour passer une annonce il faut obligatoirement être
            inscrit , tout ceci pour être sûr d'avoir une
            adresse e-mail valide ( une vrai personne ) , et de cette
            façon éviter d'avoir des annonces 'bidon' .
            Nous voulons du sérieux dans le passage des annonces
            et en aucun cas , cautionner de fausses annonces par de fausse
            personnes . C'est un premier niveau de sécurité.
            <br>
            <br>
            L'ajout d'une annonce n'est donc pas anonyme et oblige à
            se connecter sous son compte , pour créer une annonce
            . Le bouton "AJOUTER une annonce" effectue le contrôle
            de validité de connexion et propose : <br>
            <br>
            - Si la connexion n'est pas faite, vous serez redirigé
            vers un lien pour la page de connexion <br>
            - Si la connexion est déjà faite vous arriverez
            directement sur l'écran "Membres"<br>
            <br>
            La création d'une annonce ( rubrique ) se fait sur
            la même arborescence , que celle existante pour la lecture
            des annonces ( faisons simple ) .<br>
        </p>
        <p><strong><u>Procédure de création d'une annonce
                    : </u></strong><br>
            <br>
            Par le choix "Ajouter une annonce" , si vous êtes
            pas connecté, vous pourrez le faire par le lien "Cliquez
            ici et connectez-vous."<br>
            <br>
            1 - Connexion <br>
            - se connecter sur son compte ( adresse e-mail + mot de passe
            ) puis cliquer sur "Connexion"<br>
            <br>
            2 - Ensuite vous arrivez sur le menu principal 'membres'<br>
            sur la gauche vous avez plusieurs choix dont <br>
            - "Nouvelle annonce Gratuite " pour ajouter une
            annonce pour une offre de services des assistantes maternelles,
            ainsi qu'une annonce pour les parents ( qui recherche une
            assistante maternelle ) <br>
            - "Nouvelle annonce Payante" pour ajouter une annonce
            dans les autres rubriques : achat/vente de matériels,
            jouets ... <br>
            <br>
            <br>
            <u>Exemples concret , 2 cas :</u><br>
            <br>
            <em>Cas 1 :</em> Vous êtes Assistante Maternelle et
            vous voulez ajouter une annonce . Dans ce cas, le dépôt
            d'annonces dans cette rubrique est GRATUIT et ne concerne
            que les offres de services ( garde d'enfant , pas pour vendre/acheter
            du matériel ) <br>
            <br>
            a - Ensuite sous votre espace membre , vous cliquez sur "Nouvelle
            annonce gratuite"</p>
        <p>b - Vous choisissez la seule catégorie disponible
            ( ici Annonces Assistantes Maternelles ) et vous cliquerez
            sur cette ligne </p>
        <p>c- Ensuite vous arriverez sur la sous-catégorie (
            votre secteur ex : Villeneuve d'Ascq ) et vous validerez votre
            choix par "Cliquez ici pour Ajoutez une annonce dans
            cette catégorie" </p>
        <p>d - Et là vous êtes dans la saisie de votre
            annonce </p>
        <p>=&gt; vous devez remplir les différentes zones et
            valider le tout par "VALIDER"<br>
            <br>
            C'est tout , rien de plus .<br>
            <br>
            Vous avez la possibilité de modifier après-coup
            , votre annonce, ajouter une photo , supprimer votre annonce
            ( dans le cas ou l'annonce est devenue obsolète )<br>
            <br>
        </p>
        <p><em>Cas 2 :</em> vous voulez vendre une POUSSETTE au prix
            100 euros<br>
            <br>
            a - Ensuite sous votre espace membre , vous cliquez sur "Nouvelle
            annonce payante"</p>
        <p>b - Vous lisez les infos données et vous cliquez sur
            la ligne &gt;&gt;&gt; Cliquez ici pour accéder à
            la partie payante des annonces &lt;&lt;&lt;</p>
        <p>c - Vous accéderez sur nouvelle page <br>
            <br>
            d - Vous lisez ce qui est écrit et cliquez sur le drapeau
            ( français ) , un écran va apparaître
            , qui va vous donner un numéro de téléphone
            à appeler <br>
            <br>
            e - Lorsque vous avez , ce code d'accès , il vous suffira
            de le saisir dans la zone concernée , puis de cliquer
            sur &lt;OK&gt;<br>
            <br>
            f - Si le code est valide ( pour une seule annonce ) , vous
            entrerez , dans la rubrique des Annonces Payantes ( Vente-Achat
            Matériel Puériculture , Vente-Achat Matériels
            Enfants ) , ensuite <br>
            <br>
            g - Vous choisissez la seule catégorie disponible (
            ex : "Vente-Achat Matériel Puériculture"
            ) et vous cliquerez sur cette ligne <br>
            <br>
            h- Ensuite vous arriverez sur la sous-catégorie ( ex:
            "Poussette / landau / siège auto" ) et vous
            validerez votre votre choix par "Cliquez ici pour Ajoutez
            une annonce dans cette catégorie" <br>
            <br>
            i - Et là vous êtes dans la saisie de l'annonce
            <br>
            <br>
            Vous devez remplir les différentes zones demandées
            ( certaines sont obligatoires , d'autres non ) et valider
            le tout par "VALIDER"</p>
        <p>C'est tout , rien de plus <br>
            <br>
            Vous avez la possibilité de modifier après-coup
            , votre annonce, ajouter une photo , supprimer votre annonce
            ( dans le cas ou la poussette de notre exemple est vendue
            )<br>
        </p>
    </div>
{% endblock %}