#body .col-md-12:last-of-type {
    margin: 10px 0 30px;
}
#body .col-md-12 h3 {
    margin: 0;
}

.table>tbody>tr>td {
    border: none;
}

#body .table-hover tr:hover td {
    color: #2b2922;
    background-color: #f5f5f5;
}

#body .table-hover tr:hover td a {
    color: #2DA1C9;
}

#body .table-hover tr td:first-of-type {
    width: 70%;
    text-align: left;
}

#body .table-hover tr td:last-of-type {
    width: 30%;
    text-align: right;
}

#body .table-hover tr td a {
    color: #2b2922;
}
